<template>
    <div>
        <button :class="getStyles()"  v-on:click="this.$props.callback()">
            <span>{{this.text}}</span>
        </button>
    </div>
</template>

<script>


export default {
    name: 'Button',
    components: {
    },
    props: {
        color: String,
        text: String,
        imgPath: String||null,
        callback: Function,
        variant: String
    },
    computed:{
    },
    methods:{
        getStyles(){
            //console.log(this.callback)
            //console.log(this.variant)
            if (this.variant === "tl"){
                return this.color+" hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded-tl-lg rounded-br-lg inline-flex items-center"
            } else {
                return this.color+" hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded-tr-lg rounded-bl-lg inline-flex items-center"
            }
        }
    }

}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>


</style>
