<template>
        <div class="flex flex-col">
            <div class="grid grid-cols-12 p-1">
                <div class="col-span-3">
                    <div class="form-label">Jméno:</div>
                </div>
                <div  class=" col-span-8">
                    <input class="rb-input" type="text"/>
                </div>
                
            </div>
            <div class="grid grid-cols-12 p-1">
                <div class="col-span-3">
                    <div class="form-label">Email:</div>
                </div>
                <div  class=" col-span-8">
                    <input class="lb-input" type="text"/>
                </div>
                
            </div>
            <div class="grid grid-cols-12 p-1">
                <div class="col-span-3">
                    <div class="form-label">Message:</div>
                </div>
                <div  class=" col-span-8">
                    <textarea class="rb-input"/>
                </div>
                
            </div>
        </div>

</template>

<script>

//import translate from "../../languages/Language";
//import Button from "../comps/Button.vue";

export default {
    name: 'MainPAge',
    components: {
        //Button
    },
    props: {
        msg: String
    },
    computed:{
    },
    methods:{
    }

}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.mainContent{
    padding-top:20px;
}
.form-label{
    font-size: 1.5rem;
}
.rb-input {
    width:100%;
    background: none;
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    padding: 10px 20px;
    border-bottom: 2px solid #ffffff;
    border-left: 2px solid #ffffff;
    -o-text-overflow: clip;
    text-overflow: clip;
    -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
    box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
    text-shadow: 1px 1px 0 rgba(255,255,255,0.66) ;
    -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}
.lb-input {
    width:100%;
    background: none;
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    padding: 10px 20px;
    border-bottom: 2px solid #ffffff;
    border-right: 2px solid #ffffff;
    -o-text-overflow: clip;
    text-overflow: clip;
    -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
    box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
    text-shadow: 1px 1px 0 rgba(255,255,255,0.66) ;
    -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}
.lb-input:focus-visible{
    outline: none;
    border-bottom: 4px solid #FFE500;
    border-right: 4px solid #FFE500;
}
.rb-input:focus-visible{
    outline: none;
    border-bottom: 4px solid #FFE500;
    border-left: 4px solid #FFE500;
}
textarea {
    height:200px;
    resize: none;
}
</style>
