<template>
    <div class=" w-9/12">
        <div class="bg-white line items-center mt-3">
            
            <div :class="getNodeClass(0)" class="node w-4 h-4 bg-white rounded-tl-lg rounded-br-lg" @click="changeStatus($event,0)"></div>
            <div :class="getNodeClass(1)" class="node w-4 h-4 bg-white rounded-tr-lg rounded-bl-lg" @click="changeStatus($event,1)"></div>
            <div :class="getNodeClass(2)" class="node w-4 h-4 bg-white rounded-tl-lg rounded-br-lg" @click="changeStatus($event,2)"></div>
        </div>
    </div>
</template>

<script>
import * as appState from "../../constants/appState"

export default {
    name: 'HorizontalProgressBar',
    components: {
        
    },
    props: {
    },
    data(){
        return {
            referenceIds:[0,1],
        }
    },
    computed:{
        getAppStateConstants(){
            return appState
        },
        referenceState(){
            //console.log(this.$store.getters.getreference)
            return this.$store.getters.getreference
        },
    },
    methods:{
        
        getNodeClass(id){
            if (this.referenceState.referencePage === id){
                return "active"
            }
            return ""
        },

        changeStatus(e, page){
            //console.log(this.$store.getters.getreference)
            this.$store.commit("setReferencePage",page)
        }
    },

}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.line{
    position:relative;
    width:100%;
    height: 3px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.centered{
    margin-left: 50%;
    transform: translateX(-50%);
    position:relative;
}
.active{
    background:yellow;
    width:20px;
    height: 20px;
}
.watched{
    background-color:rgb(31, 30, 30);
    border-color:rgb(31, 30, 30);
}
.node{
    cursor: pointer;
}
</style>
