<template>
    <div v-if="getMobileMenuOpen" class="mobile-menu-main rounded-tl-3xl rounded-br-lg pt-11 pb-11 flex flex-row">
        <div class=" w-3/4">
            <div class=" text-4xl menu-list h-full">
                <div :class="getTextClass(0)" @click="changeStatus($event,1, getAppStateConstants.MAIN_PAGE)">{{t_we}}</div>
                <div :class="getTextClass(1)" @click="changeStatus($event,2, getAppStateConstants.ABOUT)">{{t_about}}</div>
                <div :class="getTextClass(2)" @click="changeStatus($event,3, getAppStateConstants.PORTFOLIO)">{{t_portfolio}}</div>
                <div :class="getTextClass(3)" @click="changeStatus($event,4, getAppStateConstants.WHO)">{{t_who}}</div>
                <div :class="getTextClass(4)" @click="changeStatus($event,5, getAppStateConstants.CAREER)">{{t_career}}</div>
                <div :class="getTextClass(5)" @click="changeStatus($event,6, getAppStateConstants.CONTACT)">{{t_contact}}</div>
            </div>
        </div>
        <div class=" line h-full bg-white " :class="lineClasses">
            
            <div :class="getNodeClass(0)" class="node centered w-4 h-4 bg-white rounded-tl-lg rounded-br-lg" @click="changeStatus($event,1, getAppStateConstants.MAIN_PAGE)"></div>
            <div :class="getNodeClass(1)" class="node centered w-4 h-4 bg-white rounded-tr-lg rounded-bl-lg" @click="changeStatus($event,2, getAppStateConstants.ABOUT)"></div>
            <div :class="getNodeClass(2)" class="node centered w-4 h-4 bg-white rounded-tl-lg rounded-br-lg" @click="changeStatus($event,3, getAppStateConstants.PORTFOLIO)"></div>
            <div :class="getNodeClass(3)" class="node centered w-4 h-4 bg-white rounded-tr-lg rounded-bl-lg" @click="changeStatus($event,4, getAppStateConstants.WHO)"></div>
            <div :class="getNodeClass(4)" class="node centered w-4 h-4 bg-white rounded-tl-lg rounded-br-lg" @click="changeStatus($event,5, getAppStateConstants.CAREER)"></div>
            <div :class="getNodeClass(5)" class="node centered w-4 h-4 bg-white rounded-tr-lg rounded-bl-lg" @click="changeStatus($event,6, getAppStateConstants.CONTACT)"></div>
        </div>
        <div class="closeButton" @click="closeMobileMenu()">X</div>
    </div>
</template>

<script>
import * as appState from "../../constants/appState"
import translate from "../../languages/Language";

export default {
    name: 'VerticalProgressBar',
    components: {
        
    },
    props: {
        msg: String
    },
    data(){
        return {
            lineClasses:{
                progress0: true,
                progress20:false,
                progress40:false,
                progress60:false,
                progress80:false,
                progress100:false
            }
        }
    },
    computed:{
        getAppStateConstants(){
            return appState
        },
        activePage(){
            //console.log(this.$store.getters.getActivePage)
            return this.$store.getters.getActivePage
        },
        getActivePageIndex(){
            //console.log(this.$store.getters.getActivePageIndex)
            return this.$store.getters.getActivePageIndex
        },
        getMobileMenuOpen(){
            //console.log(this.$store.getters.getMobileMenuOpen)
            return this.$store.getters.getMobileMenuOpen
        },
        t_we(){
            return translate("menu.we","cz")
        },
        t_about(){
            return translate("menu.about","cz")
        },
        t_portfolio(){
            return translate("menu.portfolio","cz")
        },
        t_who(){
            return translate("menu.who","cz")
        },
        t_career(){
            return translate("menu.career","cz")
        },
        t_contact(){
            return translate("menu.contact","cz")
        },
    },
    methods:{
        closeMobileMenu(){
            this.$store.commit("openMobileMenu")
        },
        getNodeClass(id){
            if (this.getActivePageIndex === id){
                return "active"
            }
            if (this.getActivePageIndex > id){
                return "watched"
            }
            return ""
        },
        getTextClass(id){
            if (this.getActivePageIndex === id){
                return "activeText"
            }
            if (this.getActivePageIndex > id){
                return "watchedText"
            }
            return ""
        },

        changeStatus(e,activePageId, page){
            this.$store.commit("setActivePage",page)
            //console.log(this.$store.getters.getActivePage)
            for(let i in this.lineClasses){
                this.lineClasses[i] = false
            }
            switch (activePageId) {
                case 1:
                    this.lineClasses["progress0"] = true
                    break;
            
                case 2:
                    this.lineClasses["progress20"] = true
                    break;
            
                case 3:
                    this.lineClasses["progress40"] = true
                    break;
            
                case 4:
                    this.lineClasses["progress60"] = true
                    break;
            
                case 5:
                    this.lineClasses["progress80"] = true
                    break;
            
                case 6:
                    this.lineClasses["progress100"] = true
                    break;
            
                default:
                    break;
            }
        }
    }

}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.line{
    position:relative;
    width:3px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    
}
.mobile-menu-main{
    height: 100vh;
    position: absolute;
    right:0;
    background:#141414;
    width:30vw;
    z-index: 999;
    border-top-left-radius: 5rem;
    border-bottom-right-radius: 5rem;
}
.menu-list{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    text-align: left;
    padding-left: 10%;
}
.menu-list div{
    text-decoration: underline;
    cursor: pointer;
}
.progress0{
    background: linear-gradient(to bottom, prgb(139, 139, 139) 0%, rgb(251, 252, 252) 0%);
}
.progress20{
    background: linear-gradient(to bottom, prgb(139, 139, 139) 20%, rgb(251, 252, 252) 0%);
}
.progress40{
    background: linear-gradient(to bottom, prgb(139, 139, 139) 40%, rgb(251, 252, 252) 0%);
}
.progress60{
    background: linear-gradient(to bottom, prgb(139, 139, 139) 60%, rgb(251, 252, 252) 0%);
}
.progress80{
    background: linear-gradient(to bottom, prgb(139, 139, 139) 80%, rgb(251, 252, 252) 0%);
}
.progress100{
    background: linear-gradient(to bottom, prgb(139, 139, 139) 100%, rgb(251, 252, 252) 0%);
}
.centered{
    margin-left: 50%;
    transform: translateX(-50%);
    position:relative;
}
.active{
    background:yellow;
    width:20px;
    height: 20px;
}
.watched{
    background-color:prgb(139, 139, 139);
    border-color:rgb(139, 139, 139);
}
.activeText{
    color:yellow;
}
.watchedText{
    color:prgb(139, 139, 139);
}
.node{
    cursor: pointer;
}
.closeButton{
    position: absolute;
    right:20px;
    top:10px;
    font-size: 2rem;
    font-weight: 100;
    cursor: pointer;
}
</style>
