<template>
        <div class="flex flex-col position-wrapper p-10 mb-5">
            <h1 class="position-title">{{position.title}}</h1>
            <p class="mb-2">
                {{position.description}}
            </p>
            <img class="mb-2" :src="require(`../../assets/img/${position.image}`)"/>
            <h3>Na tuto pozici se Ti bude hodit:</h3>
            <ul class="flex flex-col">
                <li v-for="req in position.requirements" :key="req">
                    {{req}}
                </li>
            </ul>
        </div>

</template>

<script>


export default {
    name: 'Position',
    components: {
    },
    props: {
        position: Object
    },
    computed:{
    },
    methods:{
    }

}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.position-wrapper{
    width:50vw;
    height:auto;
    text-align: left;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    background-color: #141414;
}
.position-title{
    font-size: 2.5em;
}
.position-wrapper img{
    width:100%;
    height:100px;
    object-fit: cover;
}

@media (max-width: 769px) {
    .position-wrapper{
        width: 75vw;
    }
}
</style>
