<template>
    <div class="reference items-stretch flex flex-col rounded-tr-3xl rounded-bl-3xl bg-gray-600 w-full p-11">
        <h2 class=""><a :href="ref.url" target="_blank" rel="noopener noreferrer">{{ref.name}}</a></h2>
        <p class="description">{{ref.description}}</p>
        <div class="gallery flex flex-wrap items-stretch">
            <div class="single-image p-1" v-for="img in ref.thumbnailImages" :key="img">
                <img :src="require(`../../assets/img/${img}`)"/>
            </div>
        </div>
        <div class="detailButton" @click="handleDetailClick()">Detail</div>
    </div>
</template>

<script>

import translate from "../../languages/Language";
//import Button from "../comps/Button.vue";
import * as References from "../../data/DataHelper";

export default {
    name: 'ReffrenceComponent',
    components: {
       // Button
    },
    props: {
        refId: Number
    },
    computed:{
        ref(){
            return References.getReferenceByIndex(this.refId)
        }
    },
    methods:{
        handleDetailClick(){
            this.$store.commit("setActiveDetail", this.refId)
            this.$store.commit("setActivePage","DETAIL")
        },
        toFormular(){
            //console.log(this.ref.images)
        },
        title(){
            return translate("mainPage.title","cz")
        },
        text(){
            return translate("mainPage.text","cz")
        }
    }

}
</script>
import
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.reference{
    text-align: left;
    background: rgb(31, 30, 30);
    border-top-right-radius: 5rem;
    border-bottom-left-radius: 5em;
    height: 80vh;
}
.gallery{
    max-height:100%;
    overflow-y: auto;
}
.single-image{
    width:50%;
}
.detailButton{
    text-decoration: underline;
    text-align: right;
    margin-top:5%;
    font-size: 1.5em;
    cursor: pointer;
}
.description{
    max-height: 50%;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-bottom: 10px;
} 
h2{
    font-size: 2em;
    text-decoration: underline;
}   
@media (max-width: 769px) {
    h2 {
        font-size: 1.25em;
    }
    p{
        font-size: 0.75em;
    }
}

@media (max-width: 426px) {
    .text{
        font-size: 0.2em;
    }
}  
</style>
