<template>
    <div class="h-full">
        <div class=" line h-full bg-white " :class="getLineClass">
            
            <div :class="getNodeClass(0)" class="node centered w-4 h-4 bg-white rounded-tl-lg rounded-br-lg" @click="changeStatus($event,getAppStateConstants.MAIN_PAGE)"></div>
            <div :class="getNodeClass(1)" class="node centered w-4 h-4 bg-white rounded-tr-lg rounded-bl-lg" @click="changeStatus($event,getAppStateConstants.ABOUT)"></div>
            <div :class="getNodeClass(2)" class="node centered w-4 h-4 bg-white rounded-tl-lg rounded-br-lg" @click="changeStatus($event,getAppStateConstants.PORTFOLIO)"></div>
            <div :class="getNodeClass(3)" class="node centered w-4 h-4 bg-white rounded-tr-lg rounded-bl-lg" @click="changeStatus($event,getAppStateConstants.WHO)"></div>
            <div :class="getNodeClass(4)" class="node centered w-4 h-4 bg-white rounded-tl-lg rounded-br-lg" @click="changeStatus($event,getAppStateConstants.CAREER)"></div>
            <div :class="getNodeClass(5)" class="node centered w-4 h-4 bg-white rounded-tr-lg rounded-bl-lg" @click="changeStatus($event,getAppStateConstants.CONTACT)"></div>
        </div>
    </div>
</template>

<script>
import * as appState from "../../constants/appState"

export default {
    name: 'VerticalProgressBar',
    components: {
        
    },
    props: {
        msg: String
    },
    data(){
        return {
            counter:0,
        }
    },
    computed:{
        getAppStateConstants(){
            return appState
        },
        activePage(){
            return this.$store.getters.getActivePage
        },
        getActivePageIndex(){
            return this.$store.getters.getActivePageIndex
        },
        getLineClass(){
            switch (this.$store.getters.getActivePageIndex+1) {
                case 1:
                    return "progress0"
            
                case 2:
                    return "progress20"
            
                case 3:
                    return "progress40"
            
                case 4:
                    return "progress60"
            
                case 5:
                    return "progress80"
            
                case 6:
                    return "progress100"
            
                default:
                    return ""
            }
        }
    },
    methods:{
        
        getNodeClass(id){
            if (this.getActivePageIndex === id){
                return "active"
            }
            if (this.getActivePageIndex > id){
                return "watched"
            }
            return ""
        },

        changeStatus(e, page){
            this.$store.commit("setActivePage",page)
        }
    },

}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.line{
    margin: 0 auto;
    position:relative;
    width:3px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    
}
.progress0{
    background: linear-gradient(to bottom, rgb(31, 30, 30) 0%, rgb(251, 252, 252) 0%);
}
.progress20{
    background: linear-gradient(to bottom, rgb(31, 30, 30) 20%, rgb(251, 252, 252) 0%);
}
.progress40{
    background: linear-gradient(to bottom, rgb(31, 30, 30) 40%, rgb(251, 252, 252) 0%);
}
.progress60{
    background: linear-gradient(to bottom, rgb(31, 30, 30) 60%, rgb(251, 252, 252) 0%);
}
.progress80{
    background: linear-gradient(to bottom, rgb(31, 30, 30) 80%, rgb(251, 252, 252) 0%);
}
.progress100{
    background: linear-gradient(to bottom, rgb(31, 30, 30) 100%, rgb(251, 252, 252) 0%);
}
.centered{
    margin-left: 50%;
    transform: translateX(-50%);
    position:relative;
}
.active{
    background:yellow;
    width:20px;
    height: 20px;
}
.watched{
    background-color:rgb(31, 30, 30);
    border-color:rgb(31, 30, 30);
}
.node{
    cursor: pointer;
}
</style>
