<template>
    <div id="leftSidebar" class="flex flex-col h-screen">
        <div class="row-span-1 place-self-center mb-5 mt-2">
            <MobileMenu/>
            <div id="menuButton" @click="openMobileMenu()"></div>
        </div>
        <img class="row-span-1 place-self-center mb-5" id="simpleLogo" src="../assets/img/simpleLogo.png">
        <div id="crowsTitle" class="row-span-1 pt-5">
            <h1  class=" text-4xl pl-10">ITCrows</h1>
        </div>
        <div id="buttons" class="row-span-1 place-self-center">
            <div id="socialButtons">
                <div id="facebookButton"></div>
                <div id="instagramButton"></div>
            </div>
            <div id="locButtons">
                <div id="enLocButton"></div>
                <div id="deLocButton"></div>
            </div>
        </div>
    </div>
</template>

<script>

import MobileMenu from "./comps/MobileMenuLeft.vue"


export default {
    name: 'LeftSidebarTablet',
    components: {
        MobileMenu
    },
    props: {
        msg: String
    },
    methods:{
        openMobileMenu(){
            this.$store.commit("openMobileMenu")
        },
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
#simpleLogo{
    border:0px;
    height:100px;
}
#leftSidebar{
}
#crowsTitle{
    width: auto;
    float: left;
    height: 200px;
}
#crowsTitle h1{
    display: inline-block;
    text-align: left;
    /*float: left;*/
    width: 0.25em;
    white-space: nowrap;
    direction: rtl;
    transform-origin: top left;
    transform: rotate(-90deg) translate(-100%);
}
#facebookButton{
    background-image: url("../assets/img/facebookLogo.png");
    width:46px;
    height:46px;
    margin-top:5px;
    margin-bottom:5px;
    cursor: pointer;
}
#instagramButton{
    background-image: url("../assets/img/instagramLogo.png");
    width:46px;
    height:46px;
    margin-bottom:5px;
    cursor: pointer;
}
#deLocButton{
    background-image: url("../assets/img/deLoc.png");
    width:20px;
    height:20px;
    float:left;
    cursor: pointer;
}
#enLocButton{
    background-image: url("../assets/img/enLoc.png");
    width:20px;
    height:20px;
    float:left;
    margin-right:5px;
    cursor: pointer;
}
#buttonDown{
    background-image: url("../assets/img/buttonDown.png");
    width:46px;
    height:46px;
    top:10vh;
    cursor: pointer;
}
#menuButton{
    background-image: url("../assets/img/menuButton.png");
    width:46px;
    height:46px;
    margin-bottom:5px;
    cursor: pointer;
}
</style>
