<template>
    <ul id="leftSidebar" class="flow flow-col justify-between flex-nowrap ">
        <li>
            <img class="row-span-1 place-self-center" id="simpleLogo" src="../assets/img/simpleLogo.png">
        </li>
        <li>
            <h1  class=" text-4xl pl-10">ITCrows</h1>
        </li>
        <li>
            <div id="buttons" class="row-span-1 place-self-center">
                <div id="socialButtons">
                    <div id="facebookButton"></div>
                    <div id="instagramButton"></div>
                </div>
                <div id="locButtons">
                    <div id="enLocButton"></div>
                    <div id="deLocButton"></div>
                </div>
            </div>
        </li>
        <li>
            <div id="buttonDown" @click="handleClickNextPage"></div>
        </li>
    </ul>
</template>

<script>



export default {
    name: 'LeftSidebar',
    components: {
    },
    props: {
        msg: String
    },
    methods:{
        handleClickNextPage(){
            this.$store.commit("plusActivePage")
        }
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
#simpleLogo{
    border:0px;
    max-height:150px;
}
#leftSidebar{
}
#crowsTitle{
    width: auto;
    float: left;
    height: 100%;
}
h1{
    display: inline-block;
    text-align: left;
    /*float: left;*/
    width: 0.25em;
    white-space: nowrap;
    direction: rtl;
    transform-origin: top left;
    transform: rotate(-90deg) translate(-100%);
    height: 100px;
}
#facebookButton{
    background-image: url("../assets/img/facebookLogo.png");
    width:46px;
    height:46px;
    margin-top:5px;
    margin-bottom:5px;
    cursor: pointer;
}
#instagramButton{
    background-image: url("../assets/img/instagramLogo.png");
    width:46px;
    height:46px;
    margin-bottom:5px;
    cursor: pointer;
}
#deLocButton{
    background-image: url("../assets/img/deLoc.png");
    width:20px;
    height:20px;
    float:left;
    cursor: pointer;
}
#enLocButton{
    background-image: url("../assets/img/enLoc.png");
    width:20px;
    height:20px;
    float:left;
    margin-right:5px;
    cursor: pointer;
}
#buttonDown{
    background-image: url("../assets/img/buttonDown.png");
    width:46px;
    height:46px;
    top:10vh;
    cursor: pointer;
}
li{
    list-style-type: none;
    color: white;
    padding: 20px;
    display: inline-block;
    place-self: center;
    width:auto;
}
ul{
    
    display: flex;
    justify-content: start;
    flex-flow: column nowrap;
    
    width: auto;
    height: 100vh;
}
</style>
