<template>
    <component :is="getActiveViewComponent"/>
</template>

<script>

import MainPage from "./MainContent/MainPage.vue";
import About from "./MainContent/About.vue";
import Career from "./MainContent/Career.vue";
import Who from "./MainContent/Who.vue";
import Contact from "./MainContent/Contact.vue";
import Portfolio from "./MainContent/Portfolio.vue";
import PortfolioMobile from "./MainContent/PortfolioMobileTablet.vue";
import * as appState from "./../constants/appState";
import PortfolioDetail from "./MainContent/PortfolioDetail.vue";
import ContactMobile from "./MainContent/ContactMobile.vue";

export default {
    name: 'MainContent',
    components: {
        MainPage,
        About,
        Career,
        Who,
        Contact,
        ContactMobile,
        Portfolio,
        PortfolioMobile,
        PortfolioDetail
    },
    props: {
        msg: String
    },
    computed:{
        ActivePage(){
            //console.log(this.$store.getters.getActivePage)
            return this.$store.getters.getActivePage
        },
        getResponziveVariant(){
            let screenWidth = this.$store.getters.getScreen.width
            if(screenWidth >= 1024){
                console.log("MainFrame")
                return "desktop"
            }
            if(screenWidth >= 768){
                console.log("TabletFrame")
                return "tablet"
            }
            console.log("PhoneFrame")
            return "mobile"
        },
        getActiveViewComponent(){
            //console.log(this.ActivePage)
            switch (this.ActivePage) {
                case appState.MAIN_PAGE:
                    return "MainPage"
                case appState.ABOUT:
                    return "About"
                case appState.PORTFOLIO:
                    if (this.getResponziveVariant === "tablet" || this.getResponziveVariant === "mobile"){
                        
                        return "PortfolioMobile"
                    }
                    return "Portfolio"
                case appState.WHO:
                    return "Who"
                case appState.CAREER:
                    return "Career"
                case appState.CONTACT:
                    if (this.getResponziveVariant === "tablet" || this.getResponziveVariant === "mobile"){
                        
                        return "ContactMobile"
                    }
                    return "Contact"
                case appState.DETAIL:
                    return "PortfolioDetail"
                default:
                    return "ContentVideo"
            }
        }
    },
    methods:{
    }

}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
