<template>
  <div class="grid grid-cols-12 gap-2">
    <div class="col-span-1 h-screen"><LeftSidebar /></div>
    <div class="col-span-10 h-screen"><MainContent /></div>
    <div class="col-span-1 h-screen"><RightSidebar /></div>
  </div>
</template>

<script>

import LeftSidebar from "./LeftSidebar"
import RightSidebar from "./RightSidebar"
import MainContent from "./MainContent"

export default {
  name: 'MainFrame',
  components: {
    LeftSidebar,
    RightSidebar,
    MainContent
  },
  props: {
    msg: String
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.grid div{
  box-sizing: border-box;
}
</style>
