<template>
    <div class="w-screen h-screen overflow-y-auto overflow-x-hidden">
        <PhoneContent id="phoneContent"/>
    </div>
</template>

<script>

import PhoneContent from "./PhoneContent"

export default {
    name: 'MainFrame',
    components: {
        PhoneContent
    },
    props: {
        msg: String
    },
    beforeMount(){
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>

body{
    width: 100%;
    height: auto;
    overflow: scroll;
}
</style>
