<template>
    <div class="flex flex-col justify-between w-auto">
        <MainPage/>
        <About/>
        <Portfolio/>
        <Who/>
        <Career/>
        <Contact/>
    </div>
</template>

<script>

import MainPage from "./MainContent/MainPageMobile.vue";
import About from "./MainContent/AboutMobile.vue";
import Career from "./MainContent/Career.vue";
import Who from "./MainContent/WhoMobile.vue";
import Contact from "./MainContent/ContactMobile.vue";
import Portfolio from "./MainContent/PortfolioMobileTablet.vue";
//import PortfolioDetail from "./MainContent/PortfolioDetail.vue";

export default {
    name: 'MainContent',
    components: {
        MainPage,
        About,
        Career,
        Who,
        Contact,
        Portfolio,
        //PortfolioDetail
    },
    props: {
    },
    computed:{
    },
    methods:{
    }

}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
