<template>
    <div id="rightSidebar" class="grid grid-rows-6 h-screen"  @mousewheel="handleMouseWheel">
        <MobileMenu/>
        <div class="row-span-1 place-self-center">
            <div id="menuButton" @click="openMobileMenu()"></div>
        </div>
        <div class="row-span-4">
            <VerticalProgressBar/>
        </div>
        <div class="row-span-1 place-self-center">
            <div id="upButton" @click="handleClickPreviousPage()"></div>
        </div>
    </div>
</template>

<script>

import VerticalProgressBar from "./comps/VerticalProgressBar.vue"
import MobileMenu from "./comps/MobileMenu.vue"

export default {
    name: 'RightSidebar',
    components: {
        VerticalProgressBar,
        MobileMenu
    },
    props: {
        msg: String
    },
    methods:{
        handleScroll(event){
            console.log(event)
            let triggerCustomScrollEvent = false;
            for(let p of event.path){
                if (
                    p.id === "rightSidebar"
                ){
                    triggerCustomScrollEvent = true
                }
            }
            console.log()
            const pageIndex = this.$store.getters.getActivePageIndex
            console.log(pageIndex)
            if (triggerCustomScrollEvent){
                if (event.deltaY === 100 && pageIndex < 5){
                    this.$store.commit("plusActivePage")
                }
                
                if (event.deltaY === -100 && pageIndex > 0){
                    this.$store.commit("minusActivePage")
                }
            }
        },
        openMobileMenu(){
            this.$store.commit("openMobileMenu")
        },
        handleClickPreviousPage(){
            this.$store.commit("minusActivePage")
        },
        handleMouseWheel(){
            //console.log(e.deltaY)
        }
    },
    mounted(){
        window.addEventListener("wheel",this.handleScroll)
    },
    unmounted(){
        window.removeEventListener("wheel",this.handleScroll)
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
#simpleLogo{
    border:0px;
    height:20vh;
}
#rightSidebar{
}
#menuButton{
    background-image: url("../assets/img/menuButton.png");
    width:46px;
    height:46px;
    margin-bottom:5px;
    cursor: pointer;
}

#upButton{
    background-image: url("../assets/img/buttonUp.png");
    width:46px;
    height:46px;
    margin-bottom:5px;
    cursor: pointer;
}

</style>
