<template>
  <div class="grid grid-cols-12 gap-2">
    <div class="col-span-1 h-screen"><LeftSidebarTablet /></div>
    <div class="col-span-11 h-screen"><MainContent /></div>
  </div>
</template>

<script>

import LeftSidebarTablet from "./LeftSidebarTablet"
import MainContent from "./MainContent"

export default {
  name: 'MainFrame',
  components: {
    LeftSidebarTablet,
    MainContent
  },
  props: {
    msg: String
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.grid div{
  box-sizing: border-box;
}
</style>
