<template>
  <component :is="getResponziveVariant"/>
</template>

<script>
import MainFrame from './components/MainFrame.vue'
import TabletFrame from './components/TabletFrame.vue'
import PhoneFrame from './components/PhoneFrame.vue'

export default {
  name: 'App',
  components: {
    MainFrame,
    TabletFrame,
    PhoneFrame
  },
  data(){
    return{
      
    }
  },
  methods:{
    storeScreenWidth(screenWidth){
      this.$store.commit("storeScreenWidth", screenWidth)
    }
  },
  computed:{
    getResponziveVariant(){
      let screenWidth = this.$store.getters.getScreen.width
      console.log(screenWidth)
      if(screenWidth >= 1024){
        console.log("MainFrame")
        return "MainFrame"
      }
      if(screenWidth >= 768){
        console.log("TabletFrame")
        return "TabletFrame"
      }
      console.log("PhoneFrame")
      return "PhoneFrame"
    }

  },
  beforeMount(){
    let that = this
    console.log(that)
    window.addEventListener('resize',handleResize(event, that), true);
    function handleResize(event, that){
        //console.log(that)
        that.storeScreenWidth(screen.width)
        console.log(that.$store.getters.getScreen)
    }
  }
}
</script>

<style>
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100&display=swap');

#app {
  font-family: 'Work Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: white;
}
body {
  background-color: black;
  overflow-y: hidden;
}
img {
    border:0px;
}
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #ffff00;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
  background: #000000;
}
::-webkit-scrollbar-track {
  background: #666666;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #666666;
}
::-webkit-scrollbar-track:active {
  background: #333333;
}
::-webkit-scrollbar-corner {
  background: transparent;
}  
.main-title{
  width:200px;
  border-bottom:2px solid white;
  text-align: left;
  font-size: 2rem;
  margin-bottom: 20px;
}
</style>
