<template>
        <div class="flex flex-row gap-4">
            <div class=" flex flex-col p-2">
                <div class="border-l-2 border-b-2 mt-4 flex-none text-left pl-4 pt-4 pb-4 text-content ">
                    <h2>Webové prezentace</h2>
                    <p class="text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque rhoncus est ipsum, at egestas erat tincidunt in. Morbi ut risus sit amet dui volutpat dignissim sodales id risus. Morbi blandit orci quis purus condimentum porttitor.
                    </p>
                </div>
                <div class="border-r-2 border-b-2 mt-4 flex-none text-left pr-4 pt-4 pb-4 text-content ">
                    <h2>Webové prezentace</h2>
                    <p class="text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque rhoncus est ipsum, at egestas erat tincidunt in. Morbi ut risus sit amet dui volutpat dignissim sodales id risus. Morbi blandit orci quis purus condimentum porttitor.
                    </p>
                </div>
                <div class="border-l-2 border-b-2 mt-4 flex-none text-left pl-4 pt-4 pb-4 text-content ">
                    <h2>Webové prezentace</h2>
                    <p class="text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque rhoncus est ipsum, at egestas erat tincidunt in. Morbi ut risus sit amet dui volutpat dignissim sodales id risus. Morbi blandit orci quis purus condimentum porttitor.
                    </p>
                </div>
            </div>
            <div class="flex flex-wrap items-center h-screen">
                <div class="mt-4 img-vrana-wrapper w-full" >
                    <img class=" img-vrana" src="../../assets/img/imgVrana.png">
                </div>
            </div>
        </div>

</template>

<script>

import translate from "../../languages/Language";

export default {
    name: 'About',
    components: {
    },
    props: {
        msg: String
    },
    computed:{
    },
    methods:{
        title(){
            return translate("mainPage.title","cz")
        },
        text(){
            return translate("mainPage.text","cz")
        }
    }

}
</script>

<style scoped>
.img-vrana{
    width:100%;
}
.text{
    font-size: 0.8em;
}
.img-vrana-wrapper{
    width:50vw;
}
@media (max-width: 769px) {
    .text{
        font-size: 0.7em;
    }
}

@media (max-width: 426px) {
    .text{
        font-size: 0.2em;
    }
}
</style>
