<template>
    <div class="flex flex-row justify-center">
        <div class="flex flex-col">
            <div class="">
                <h1>Nebuď holubem</h1>
                <h2>Staň se vránou</h2>
            </div>
            <div v-if="getResponziveVariant" class="positions p-10" >
                <Position  v-for="position in positions" :key="position" :position="position"/>
            </div>
            
            <div v-else class="p-10" >
                <Position  v-for="position in positions" :key="position" :position="position"/>
            </div>
        </div>

    </div>
</template>

<script>
import Position from "../comps/Position.vue";
import * as DataHelper from "../../data/DataHelper";

export default {
    name: 'Career',
    components: {
        Position
    },
    props: {
    },
    computed:{
        positions(){
            //console.log(DataHelper.getAllPositions())
            return DataHelper.getAllPositions()
        },
        getResponziveVariant(){
            let screenWidth = this.$store.getters.getScreen.width
            console.log(screenWidth >= 768)
            return screenWidth >= 768
        }
    },
    methods:{
    }

}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.positions{
    overflow-y: auto;
    height: 90vh;
}
</style>
