<template>
        <div v-if="isTablet" class="flex flex-col h-screen overflow-y-auto overflow-x-hidden">
            <div class="pt-10 pl-10 text-left" id="map">
                <h1 class="contact-title">Kde nás najdete?</h1>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2607.11923116644!2d16.612909915686423!3d49.19829767932219!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4712958de89dc139%3A0x239913c61a277815!2sITcrows!5e0!3m2!1sen!2scz!4v1640439463971!5m2!1sen!2scz" :width="mapWidth" height="250" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                <div class="grid grid-cols-12">
                    <div class="flex flex-col col-span-4">
                        <div>Na příkopě</div>
                        <div>Brno</div>
                        <div>33641</div>
                    </div>
                    <div>
                        Další informace
                    </div>
                </div>
            </div>
            <div class="pt-10 pl-10 text-left">
                <h1 class="main-title">Kontakt</h1>
                <div class="mb-20">Chcete se nás na cokoliv zeptat?</div>
                <component :is="getResponziveVariant"/>
            </div>
            
        </div>

        <div v-else class="flex flex-col">
            <div class="pt-10 pl-10 text-left" id="map">
                <h1 class="contact-title">Kde nás najdete?</h1>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2607.11923116644!2d16.612909915686423!3d49.19829767932219!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4712958de89dc139%3A0x239913c61a277815!2sITcrows!5e0!3m2!1sen!2scz!4v1640439463971!5m2!1sen!2scz" :width="mapWidth" height="250" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                <div class="grid grid-cols-12">
                    <div class="flex flex-col col-span-4">
                        <div>Na příkopě</div>
                        <div>Brno</div>
                        <div>33641</div>
                    </div>
                    <div>
                        Další informace
                    </div>
                </div>
            </div>
            <div class="pt-10 pl-10 text-left">
                <h1 class="main-title">Kontakt</h1>
                <div class="mb-20">Chcete se nás na cokoliv zeptat?</div>
                <component :is="getResponziveVariant"/>
            </div>
            
        </div>
</template>

<script>
import translate from "../../languages/Language";
import ContactForm from "../comps/ContactFormTablet.vue";
import ContactFormMobile from "../comps/ContactFormMobile.vue"

export default {
    name: 'MainPAge',
    components: {
        ContactForm,
        ContactFormMobile
    },
    props: {
        msg: String
    },
    data(){
        return{
            mapWidth: "200"
        }
    },
    computed:{
        getResponziveVariant(){
            let screenWidth = this.$store.getters.getScreen.width
            if(screenWidth >= 768){
                return "ContactForm"
            }
            return "ContactFormMobile"
        },
        
        isTablet(){
            let screenWidth = this.$store.getters.getScreen.width
            console.log(screenWidth >= 768)
            return screenWidth >= 768
        }
    },
    methods:{
        title(){
            return translate("mainPage.title","cz")
        },
        text(){
            return translate("mainPage.text","cz")
        }
    },
    mounted(){
        console.log(typeof document.getElementById('map').clientWidth)
        this.mapWidth = document.getElementById('map').clientWidth - 100;
    }

}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.mainContent{
    padding-top:20px;
}
.contact-title{
    padding-top:20px;
    padding-bottom: 20px;
}


@media (max-width: 769px) {
    .position-wrapper{
        width: 75vw;
    }
}

@media (max-width: 426px) {
    .text{
        font-size: 0.2em;
    }
}
</style>
