<template>
    <div class="mainContent flex flex-row gap-4 h-screen">
        <div class=" w-ndhalf flex flex-col justify-center">
            <h1 class="w-ndhalf">{{title()}}</h1>
            <p>{{text()}}</p>
            
            <Button color="bg-itcrows-second" text="Napiš nám" imgPath="../" :callback="this.toFormular" variant="tr"/>
        </div>
        <div class="flex flex-col justify-center content-center">
            <img class="" src="../../assets/img/take5/photo1.jpg">
        </div>
        
    </div>

</template>

<script>

import translate from "../../languages/Language";
import Button from "../comps/Button.vue";

import * as appState from "../../constants/appState"

export default {
    name: 'MainPAge',
    components: {
        Button
    },
    props: {
        msg: String
    },
    computed:{
        getAppStateConstants(){
            return appState
        },
    },
    methods:{
        toFormular(){
            this.$store.commit("setActivePage",this.getAppStateConstants.CONTACT)
        },
        title(){
            return translate("mainPage.title","cz")
        },
        text(){
            return translate("mainPage.text","cz")
        }
    }

}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.mainContent{
    padding-top:20px;
}
.w-ndhalf{
    width:41.6vw;
}

</style>
