<template>
    <div class="flex flex-col">
        <img src="../../assets/img/take5/photo1.jpg" class="w-full">
        <h1>{{title()}}</h1>
        <p>{{text()}}</p>
        <Button color="bg-itcrows-second" text="Napiš nám" imgPath="../" :callback="this.toFormular" variant="tr"/>
    </div>

</template>

<script>

import translate from "../../languages/Language";
import Button from "../comps/Button.vue";

export default {
    name: 'MainPAge',
    components: {
        Button
    },
    props: {
        msg: String
    },
    computed:{
    },
    methods:{
        toFormular(){
            //console.log("uzhiunj")
        },
        title(){
            return translate("mainPage.title","cz")
        },
        text(){
            return translate("mainPage.text","cz")
        }
    }

}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.mainContent{
    padding-top:20px;
}

</style>
