<template>
<div id="portfolio" class="" @scroll="handleScroll()">
    <div v-if="getResponziveVariant" class=" flex flex-col overflow-y-auto h-screen">
        <div class="p-8">
            <ReferenceComponent :refId="0"/>
        </div>
        
        <div class="p-8">
            <ReferenceComponent :refId="1"/>
        </div>
        <div class="p-8">
            <ReferenceComponent :refId="2"/>
        </div>
        <div class="p-8">
            <ReferenceComponent :refId="3"/>
        </div>
        <div class="p-8">
            <ReferenceComponent :refId="4"/>
        </div>
        <div class="p-8">
            <ReferenceComponent :refId="5"/>
        </div>
    </div>
    <div v-else class="flex flex-col h-auto ">
        <div class="p-8">
            <ReferenceComponent :refId="0"/>
        </div>
        
        <div class="p-8">
            <ReferenceComponent :refId="1"/>
        </div>
        <div class="p-8">
            <ReferenceComponent :refId="2"/>
        </div>
        <div class="p-8">
            <ReferenceComponent :refId="3"/>
        </div>
        <div class="p-8">
            <ReferenceComponent :refId="4"/>
        </div>
        <div class="p-8">
            <ReferenceComponent :refId="5"/>
        </div>
    </div>
</div>

</template>

<script>

import ReferenceComponent from "../comps/Reference.vue";

export default {
    name: 'Portfolio',
    components: {
        ReferenceComponent
    },
    props: {
        msg: String
    },
    computed:{
        getResponziveVariant(){
            let screenWidth = this.$store.getters.getScreen.width
            console.log(screenWidth >= 768)
            return screenWidth >= 768
        }
    },
    methods:{
    },
    mounted(){
    },
    unmounted(){
    }

}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
