<template>
<div class="main-wrapper">
    <div class=" flex flex-row">
        <div class="w-1/2 p-8">
            <h1><a :href="ref.url">{{ref.name}}</a></h1>
            <p class="text">{{ref.description}}</p>
        </div>
        <div class="w-1/2 h-screen imagesGallery">
            <div class="galery" @mousewheel="handleMouseWheel(e)">
                <div class="single-image p-1" v-for="img in ref.images" :key="img">
                    <img :src="require(`../../assets/img/${img}`)"/>
                </div>
            </div>
        </div>
    </div>
</div>

</template>

<script>

import translate from "../../languages/Language";
import * as References from "../../data/DataHelper";

export default {
    name: 'Portfolio',
    components: {
    },
    props: {
        referenceId: Number
    },
    computed:{
        ref(){
            console.log(References.getReferenceByIndex(this.$store.getters.getActiveDetailId))
            return References.getReferenceByIndex(this.$store.getters.getActiveDetailId)
        },
        referenceState(){
            //console.log(this.$store.getters.getreference)
            return this.$store.getters.getreference
        }
    },
    methods:{
        toFormular(){
            //console.log("uzhiunj")
        },
        title(){
            return translate("mainPage.title","cz")
        },
        text(){
            return translate("mainPage.text","cz")
        },
        handleMouseWheel(){
            //console.log(2)
        }
    }

}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.main-wrapper{
    height:100vh;
    
    text-align: left;
}
.galery{
    height:100vh;
    overflow-y: auto;
}
.single-image{
    
}

.text{
    font-size: 0.8em;
}
@media (max-width: 769px) {
    .text{
        font-size: 0.7em;
    }
}

@media (max-width: 426px) {
    .text{
        font-size: 0.2em;
    }
}
</style>
