<template>
<div id="portfolio" class="main-wrapper" @scroll="handleScroll()">
    <div class=" flex flex-row h-5/6">
        <div class="w-1/2 p-8">
            <ReferenceComponent :refId="referenceState.referenceIds[0]"/>
        </div>
        <div class="w-1/2 p-8 h-auto">
            
            <ReferenceComponent :refId="referenceState.referenceIds[1]"/>
        </div>
    </div>
    <HorizontalProgressBar  class="mt-10 m-auto" />
</div>

</template>

<script>

import translate from "../../languages/Language";
//import Button from "../comps/Button.vue";
import * as References from "../../data/DataHelper";
import ReferenceComponent from "../comps/Reference.vue";
import HorizontalProgressBar from "../comps/HorizontalProgressBarr.vue";

export default {
    name: 'Portfolio',
    components: {
        ReferenceComponent,
        HorizontalProgressBar
    },
    props: {
        msg: String
    },
    computed:{
        refs(){
            return References.getAllreferences()
        },
        referenceState(){
            //console.log(this.$store.getters.getreference)
            return this.$store.getters.getreference
        }
    },
    methods:{
        handleScroll(event){
            console.log(event)
            let triggerCustomScrollEvent = true;
            for(let p of event.path){
                if (
                    p.className === "reference items-stretch flex flex-col h-auto rounded-tr-3xl rounded-bl-3xl bg-gray-600 w-full p-11" ||
                    p.id === "rightSidebar"
                ){
                    triggerCustomScrollEvent = false
                }
            }
            if (triggerCustomScrollEvent){
                if (event.deltaY === -100 && this.referenceState.referencePage < 2){
                    this.$store.commit("setReferencePage",this.referenceState.referencePage + 1)
                }
                
                if (event.deltaY === 100 && this.referenceState.referencePage > 0){
                    this.$store.commit("setReferencePage",this.referenceState.referencePage - 1)
                }
            }
        },
        title(){
            return translate("mainPage.title","cz")
        },
        text(){
            return translate("mainPage.text","cz")
        }
    },
    mounted(){
        window.addEventListener("wheel",this.handleScroll)
    },
    unmounted(){
        window.removeEventListener("wheel",this.handleScroll)
    }

}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.main-wrapper{
    height:100vh;
    
}
</style>
