<template>
    <div class="flex flex-col justify-between h-screen">
        <div class="flex flex-row gap-4 p-10">
            <div class="main-emp">
                <div class="flex flex-row gap-4 justify-center">
                    <img src="../../assets/img/instagramLogo.png">
                    <div class="flex flex-col">
                        <h1>
                            Svatopluk Blažej
                        </h1>
                        <h2>
                            CEO
                        </h2>
                        <h3>+420444555888</h3>
                        <h3>fff@fff.vv</h3>
                    </div>
                </div>
            </div>
            <div class="main-emp">
                <div class="flex flex-row gap-4 justify-center">
                    <img src="../../assets/img/instagramLogo.png">
                    <div class="flex flex-col">
                        <h1>
                            Svatopluk Blažej
                        </h1>
                        <h2>
                            CEO
                        </h2>
                        <h3>+420444555888</h3>
                        <h3>fff@fff.vv</h3>
                    </div>
                </div>
            </div>
            <div class="main-emp">
                <div class="flex flex-row gap-4 justify-center">
                    <img src="../../assets/img/instagramLogo.png">
                    <div class="flex flex-col">
                        <h1>
                            Svatopluk Blažej
                        </h1>
                        <h2>
                            CEO
                        </h2>
                        <h3>+420444555888</h3>
                        <h3>fff@fff.vv</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex flex-row flex-nowrap gap-8 justify-start overflow-x-scroll employees pl-10">
            <div class="" v-for="employee in emp" :key="employee">
                <div class="flex flex-row gap-4 justify-center">
                    <img class="profile-image" :src="require(`../../assets/img/${employee.image}`)"/>
                    <div class="flex flex-col">
                        <h1>
                            {{employee.name}}
                        </h1>
                        <h2>
                            {{employee.function}}
                        </h2>
                        <h3>{{employee.phone}}</h3>
                        <h3>{{employee.mail}}</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex flex-row gap-12 p-10">
            <img class="teamCrows" src="../../assets/img/teamCrows.png"/>
            <div class=" w-96 flex flex-col text-left">
                <p class="pb-10">Tři studenti si sednou v restauraci na snídani a ten jeden říká. “Mě už nebaví být jen  vývojář.” Ostatní dva souhlasí. “Od teď budeme vrány.” řekl druhý a ostatní souhlasili. </p>
                <p>Založení ITCrows</p>
            </div>
        </div>
    </div>
</template>
<script>

import * as DataHelper from "../../data/DataHelper";

export default {
    name: 'Who',
    components: {
    },
    props: {
    },
    data(){
        return {
        }
    },
    computed:{
        emp(){
            //console.log(DataHelper.getAllEmployees())
            return DataHelper.getAllEmployees()
        }
    },
    methods:{
    }

}
</script>
<style scoped>
.employees{
    min-height: 150px;
}
.main-emp{
    width:33%;
}
img{
    width:50px;
    height:50px;
}
.profile-image{
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.teamCrows{
    width:200px;
    height:auto;
}
</style>