<template>
    <div class="flex flex-col h-screen portfolio">
        <div class="flex flex-col gap-4 p-10">
            <div class="main-emp justify-self-center">
                <div class="flex flex-row gap-1">
                    <img src="../../assets/img/instagramLogo.png">
                    <div class="flex flex-col">
                        <h1>
                            Svatopluk Blažej
                        </h1>
                        <h2>
                            CEO
                        </h2>
                        <h3>+420444555888</h3>
                        <h3>fff@fff.vv</h3>
                    </div>
                </div>
            </div>
            <div class="main-emp">
                <div class="flex flex-row gap-1">
                    <img src="../../assets/img/instagramLogo.png">
                    <div class="flex flex-col">
                        <h1>
                            Svatopluk Blažej
                        </h1>
                        <h2>
                            CEO
                        </h2>
                        <h3>+420444555888</h3>
                        <h3>fff@fff.vv</h3>
                    </div>
                </div>
            </div>
            <div class="main-emp">
                <div class="flex flex-row gap-1">
                    <img src="../../assets/img/instagramLogo.png">
                    <div class="flex flex-col">
                        <h1>
                            Svatopluk Blažej
                        </h1>
                        <h2>
                            CEO
                        </h2>
                        <h3>+420444555888</h3>
                        <h3>fff@fff.vv</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex flex-col gap-1 p-10">
            <img class="teamCrows" src="../../assets/img/teamCrows.png"/>
            <div class="flex flex-col text-left">
                <p class="pb-10">Tři studenti si sednou v restauraci na snídani a ten jeden říká. “Mě už nebaví být jen  vývojář.” Ostatní dva souhlasí. “Od teď budeme vrány.” řekl druhý a ostatní souhlasili. </p>
                <p>Založení ITCrows</p>
            </div>
            
        </div>
    </div>
</template>
<script>

export default {
    name: 'Who',
    components: {
    },
    props: {
    },
    data(){
        return {
        }
    },
    computed:{
    },
    methods:{
    }

}
</script>
<style scoped>
.main-emp{
    width:auto;
    text-align: center;
}
img{
    width:50px;
    height:50px;
}
.profile-image{
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.teamCrows{
    width:200px;
    height:auto;
}
.portfolio{
    margin-bottom: 350px;
}
</style>